#header{
    background-color: #E0E0E0;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#block{
    background-color:#F1F3F5;
    
}

#espace1{
    height: 4vw;
}

#espace2{
    height: 2vw;
}

#espace3{
    height: 3vw;
}

#espace4{
    height: 5vw;
}