#test {
    margin-left: 50%;
    margin-right: 50%;
}

#bgForm {
    background-color:  #F1F3F5;
}

#marginButA {
    margin-left: 10%;
    margin-right: 10%;
}

#marginButB {
    margin-left: 10%;
    margin-right: 10%;
}